<!-- <nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">
    <img src="./images/medical.png" width="30" height="30" alt="">
    The General Hospital Home Health Care
  </span>
  <div class="navbar-nav">
    <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="#">Features</a>
    <a class="nav-item nav-link" href="#">Pricing</a>
    <a class="nav-item nav-link disabled" href="#">Disabled</a>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand col-md-6">The General Hospital Home Health Care</span>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <span class="nav-item nav-link active" style="margin-left: 300px;">Login as: </span>
      <button class="btn btn-secondary" style="margin-right: 30px;" (click) ="openLoginPhysician()"[disabled]="disableLoginButtons">Physician</button>
      <button class="btn btn-secondary" (click) = "openLoginPatient()" [disabled]="disableLoginButtons">Patient</button>
    </div>
  </div>
</nav>
<img *ngIf="showImage"src="https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" width="100%" style="height: fit-content;">
<div class="wrapper fadeInDown" *ngIf="loginType === 'physician'">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first" style="padding: 10px;">
      Physician's Login Details
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="showPhysiciansDetails()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
<div class="wrapper fadeInDown" *ngIf="loginType === 'patient'">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first" style="padding: 10px;">
      Patient's Login Details
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="showPatientsDetails()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
<div></div>
<table class="table" *ngIf="dataType ==='physician'">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Age</th>
      <th scope="col">Sex</th>
      <th scope="col">Patient ID</th>
      <th scope="col">Prescription</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patientsList; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{patient.firstName}}</td>
      <td>{{patient.lastName}}</td>
      <td>{{patient.age}}</td>
      <td>{{patient.sex}}</td>
      <td>{{patient.id}}</td>
      <td><input (keyup)="getPrescription($event)" type="text"></td>
    </tr>
  </tbody>
</table>
<div *ngIf="dataType ==='patient'">
  <div style="padding: 5px; text-align: justify; font-size: x-large;">Prescription by the Doctor: {{patientPrescription}}</div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Treatment Name</th>
        <th scope="col">Total Cost of Treatment</th>
        <th scope="col">Currency</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of treatments; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{patient.name}}</td>
        <td>{{patient.amount}}</td>
        <td>{{patient.currency}}</td>
      </tr>
    </tbody>
  </table>
</div>